nav{
    display: flex;
    justify-content: center;
}
  
.personalization-nav{
    display: flex;
    justify-content:center;
    text-align: center;
    padding: 0px 5px;
}

.main-nav{
    display: flex;
    justify-content: space-evenly;
}

.news-content {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid grey;
    margin: 5px 0 10px 0;
    padding: 5px;
}

.comments-content {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.comments-content-item {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

.comments-content > input {
    height: 70px;
    margin-bottom: 10px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}